html {
  scroll-behavior: smooth;
}
body {
  @include font(400, 16px, 1.62);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.02em;
  color: $color-text-light-bcg;
  @media screen and (max-width: 479px) {
    @include fluidFontSize(16px, 18px, 320px, 479px, 18px);
  }
  @media screen and (min-width: 1280px) {
    @include font;
  }
}
.stop-scroll {
  overflow: hidden;
  height: 100%;
}
// *,
// *::after,
// *::before {
//   outline: 2px solid red;
// }
h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.container {
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    min-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 768px;
    padding-left: 55px;
    padding-right: 55px;
  }
}
.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $color-accent;
  }
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.btn {
  cursor: pointer;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: $color-text-dark-bcg;
  width: 160px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid $color-accent;
  border-radius: 25px;
  display: block;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $color-text-dark-bcg;
    background-color: $color-accent;
    border: 1px solid $color-accent;
  }
}
.flexbox {
  display: flex;
}
.section {
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.title {
  margin-bottom: 20px;
  @media screen and (max-width: 479px) {
    @include fluidFontSize(28px, 42px, 320px, 479px, 28px);
  }
  @include font(700, 42px, 1.16);
}
.subtitle {
  @media screen and (max-width: 479px) {
    @include fluidFontSize(9px, 11px, 320px, 479px, 9px);
  }
  @include font(600, 11px, 1.36);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  &:before {
    content: '';
    width: 60px;
    height: 1px;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 20px;
    background-color: $color-title-link;
  }
  &.gray:before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: $color-subtitle-dark;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 20px;
  }
}
.description {
  @media screen and (max-width: 479px) {
    @include fluidFontSize(14px, 18px, 320px, 479px, 16px);
  }
  margin-bottom: 20px;
}
