	$color-text-dark-bcg: #ffffff;
	$color-text-light-bcg: #555555;
	$color-title-link: #303030;
	$color-title-dark: #9da4bd;
	$color-bcg-white: #fff;
	$color-bcg-gray: #f7f7f7;
	$color-subtitle-dark: rgba(157, 164, 189, 0.6);
	$color-accent: #ff6c00;
	$color-online-form: #191c26;

	$mobile: 480px;
	$tablet: 768px;
	$desktop: 1200px;