.online-form {
  @extend .section;
  background-color: $color-online-form;
  padding-left: 31px;
  padding-right: 31px;
  // padding-top: 0;
  // padding-bottom: 0;
  @media screen and (min-width: 1280px) {
    padding-left: 55px;
    padding-right: 40px;
    padding-bottom: 100px;
    width: calc(100% / 2);
  }
}
.online-form__field {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.online-form__title {
  @extend .title;
  @extend .white;
  margin-bottom: 44px;
}
.online-form__box {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 44px;
  @media screen and (min-width: 768px) {
    &:nth-child(-n + 2) {
      width: calc((100% - 30px) / 2);
    }
    &:first-child {
      margin-right: 30px;
    }
  }

  // display: inline-block;
}
.online-form__label {
  @include font(600, 11px, 1.36);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .online-form__box:hover &,
  .online-form__box:focus & {
    color: $color-accent;
  }
}
.online-form__input {
  width: 100%;
  height: 45px;
  color: #fff;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .online-form__box:hover &,
  .online-form__box:focus & {
    border-color: #fff;
  }
}
.online-form__name {
  // width: 270px;
  // margin-right: 30px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: $color-online-form;
  @media screen and (min-width: 768px) {
    //    width: calc((100% - 30px) / 2);
  }
}
.online-form__tel {
  // width: 260px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: $color-online-form;
  @media screen and (min-width: 768px) {
    //    width: calc((100% - 30px) / 2);
  }
}
.online-form__message {
  display: block;
  width: 100%;
  // padding: 0;
  // width: 560px;
  // height: 76px;
  padding-top: 13px;
  color: #fff;
  resize: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: $color-online-form;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .online-form__box:hover &,
  .online-form__box:focus & {
    border-color: #fff;
  }
}
.online-form__btn {
  @extend .btn;
  background-color: $color-online-form;
  @include font(600, 12px, 1.33);
  display: block;
  // width: 160px;
  &:hover,
  &:focus {
    color: $color-text-dark-bcg;
    background-color: $color-accent;
  }
}

.tooltip {
   position: relative;
  top: -53px;
  left: 75px;
  background: $color-accent;
  padding: 1px 4px;
  margin: 5px;
  font-size: 7px;
  border-radius: 100%;
  color: #fff;
    @media screen and (min-width: 768px) {
  top: -54px;
  padding: 2px 5px;
  font-size: 7px;
  }
   @media screen and (min-width: 1280px) {
  top: -58px;
  
  }
 
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:before {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: $color-accent transparent transparent transparent;
  top: -15px;
  transform: translateY(20px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: $color-accent;
  width: 160px;
  height: 60px;
  font-size: 13px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}
