.menu {
  @media screen and (min-width: 768px) {
    width: 100%;
    padding-top: 40px;
    padding-left: 24px;
  }
  @media screen and (max-width: 767px) {
    &__backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(25, 28, 38, 0.2);
      z-index: 10;
      opacity: 1;
      transition-property: opacity;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.menu__btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 48px;
  right: 31px;
  z-index: 1000;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu__burger {
  @media screen and (max-width: 767px) {
    display: block;
    &.menu--is-open {
      display: none;
    }
  }
}
.menu__cross {
  @media screen and (max-width: 767px) {
    display: none;
    &.menu--is-open {
      display: block;
    }
  }
}
.menu__container {
  z-index: 998;
  @media screen and (max-width: 479px) {
    max-width: 270px;
  }
  @media screen and (max-width: 767px) {
    width: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    padding-top: 118px;
    padding-left: 40px;
    transition: all 0.3s ease 0.2s;

    &.menu--is-open {
      background-color: #fff;
      position: absolute;
      width: 337px;
    }
  }
  @media screen and (min-width: 768px) {
    @include flexbox($jc: space-between, $ai: stretch, $flw: nowrap);
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 40px;
  }
}
.social__menu {
  @extend .list;
  width: 192px;
  display: flex;
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: #000000;
    display: block;
    margin-right: 40px;
    margin-top: 19px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.social__menu-item {
  font-size: 14px;
}
.social__menu-link {
  @extend .link;
  color: $color-title-link;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}
