.social-network {
  @extend .list;
  @include flexbox(center, stretch, wrap);
}
.social-network__item:not(:last-child) {
  margin-right: 10px;
}
.social-network__link {
  border-radius: 50%;
  background-color: #fff;
  width: 44px;
  height: 44px;
  display: block;
  padding: 12px;
  &:hover,
  &:focus {
	border-radius: 30%;
  }
}
.social-network__icon {
  fill: $color-title-link;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .social-network__link:hover &,
  .social-network__link:focus & {
    fill: $color-accent;
  }
}
