.social__list {
	@extend .list;
	@include font(600, 11px, 1.36);
	display: flex;
	// align-items: center;
	&::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: #000000;
	display: block;
	margin-right: 40px;
    }
}
.social__item:first-child {
	margin-right: 40px;
	display: flex;
}
.social__link {
	@extend .link;
	color: $color-title-link;
	display: block;
	padding-top: 25px;
	padding-bottom: 25px;
}