.scroll-top {
background: $color-accent;

fill: white;

box-shadow:0 0 2px rgba(0,0,0,0.4);
bottom:20px;
right: 20px;
height: 45px;
width: 45px;
position: fixed;
border-radius: 18px;
padding-top: 8px;
padding-bottom: 8px;
text-align: center;
overflow: hidden;
z-index: 9999;
opacity: 0.5;
}
