.footer {
	padding-left: 31px;
		padding-right: 31px;
		margin-left: auto;
		margin-right: auto;
	@include flexbox (space-between, stretch, wrap);
	@media screen and (min-width: 768px) {
	   @include flexbox (space-between, center, wrap);
	   padding-top: 31px;
	   padding-bottom: 31px;
	}
}
.footer__copyright {
	@include font(600, 11px, 1.36);
	color: $color-title-dark;
	padding-top: 79px;
	margin: 0;
	@media screen and (min-width: 768px) {
       padding: 0;
	}
}
.footer__list {
	&::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: #000000;
	display: block;
	margin-top: 51px;
	margin-right: 40px;
	@media screen and (min-width: 768px) {
	 margin-top: 31px;
		}
    }
}
.footer__item {
	@media screen and (max-width: 767px) {
	   padding-top: 19px;
		padding-bottom: 54px;
	}
}