.our-masters {
	@extend .section;
	background-color: $color-bcg-gray;
}
.our-masters__container {
	padding-left: 31px;
	padding-right: 31px;
	margin-left: auto;
	margin-right: auto;
	 @media screen and (min-width: 768px) {
	   min-width: 768px;
	   padding-left: 39px;
	   padding-right: 39px;
	   margin-left: auto;
	   margin-right: auto;
	}

}
.our-masters__content {
	  @media screen and (min-width: 768px) {
	  padding-left: 120px;
		padding-right: 120px;
		margin-left: auto;
		margin-right: auto;
	}
	 @media screen and (min-width: 1280px) {
	padding: 0;
	}
}
.our-masters__subtitle {
	@extend .subtitle;
	@extend .dark;
}
.our-masters__title {
	@extend .title;
	@extend .dark;
	margin-bottom: 44px;
}
.our-masters__list {
	@extend .list;
	@media screen and (min-width: 1280px) {
		@include flexbox($jc: center, $ai: stretch, $flw: nowrap);
	}

	
}
.our-masters__card {
	@extend .list;
	line-height: 1.39;
	text-align: center;
	&:not(:last-child) {
		margin-bottom: 64px;
	}
	@media screen and (min-width: 1280px) {
		&:not(:last-child) {
		margin-bottom: 0;
		margin-right: 30px;
		}
		width: calc((100% - 30px * 2) / 3);
	}
	
}
.our-masters__img {
	 @media screen and (min-width: 768px) {
	  width: 450px;
	margin-left: auto;
	margin-right: auto;
	}
	 @media screen and (min-width: 1280px) {
	  width: 100%
	}
	
}
.our-masters__name {
	@include font(400, 18px, 1.39);
	margin-top: 30px;
	margin-bottom: 8px;
}
.our-masters__stream {
	@include font(400, 14px, 1.35);
	text-align: center;
	color: $color-accent;
	margin-bottom: 30px;
}