.gallery {
  @extend .section;
  overflow: hidden;
}

.gallery__subtitle {
  @extend .subtitle;
  margin-bottom: 44px;
}
.gallery__list {
  @extend .list;
  @media screen and (min-width: 768px) {
    @include flexbox;
    margin: -15px;
  }
  @media screen and (min-width: 1280px) {
    flex-wrap: nowrap;
  }
}
.gallery__item {
  background-size: cover;
  height: 360px;
  text-align: center;
  transition: all 0.4s;
  position: relative;
  &:hover .gallery__item-hover1,
  &:hover .gallery__item-hover2 {
    opacity: 1;
  }
  &:hover .gallery__item-hover3 {
    opacity: 0.2;
  }
  &:hover .gallery__item-hover1 {
    top: 132px;
    left: -50px;
  }
  &:hover .gallery__item-hover2 {
    top: 130px;
    left: 40px;
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &:nth-child(1) {
      background-image: url(../images/gal1-mobile.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/gal1-mobile@2x.jpg);
      }
    }
    &:nth-child(2) {
      background-image: url(../images/gal2-mobile.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/gal2-mobile@2x.jpg);
      }
    }
    &:nth-child(3) {
      background-image: url(../images/gal3-mobile.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/gal3-mobile@2x.jpg);
      }
    }
    &:nth-child(4) {
      background-image: url(../images/gal4-mobile.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/gal4-mobile@2x.jpg);
      }
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    &:nth-child(1) {
      background-image: url(../images/gal1-tablet.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/gal1-tablet@2x.jpg);
      }
    }
    &:nth-child(2) {
      background-image: url(../images/gal2-tablet.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/gal2-tablet@2x.jpg);
      }
    }
    &:nth-child(3) {
      background-image: url(../images/gal3-tablet.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/gal3-tablet@2x.jpg);
      }
    }
    &:nth-child(4) {
      background-image: url(../images/gal4-tablet.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/gal4-tablet@2x.jpg);
      }
    }
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 30px * 3) / 4);
    &:nth-child(1) {
      background-image: url(../images/gal1-desktop.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/gal1-desktop@2x.jpg);
      }
    }
    &:nth-child(2) {
      background-image: url(../images/gal2-desktop.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/gal2-desktop@2x.jpg);
      }
    }
    &:nth-child(3) {
      background-image: url(../images/gal3-desktop.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/gal3-desktop@2x.jpg);
      }
    }
    &:nth-child(4) {
      background-image: url(../images/gal4-desktop.jpg);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/gal4-desktop@2x.jpg);
      }
    }
  }
}
.gallery__item-hover {
  height: 50px;
  background-color: transparent;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: relative;
  margin: auto;
  opacity: 0;
  transition: all 0.4s;

  color: $color-online-form;
     animation: neon 3s ease-in-out infinite alternate;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}
.gallery__item-hover1 {
  width: 77px;
  padding: 8px 4px;
  border-left: 2px solid #fff;
  border-right: 0px solid #fff;
  top: 120px;
  left: -170px;
}
.gallery__item-hover2 {
  width: 110px;
  padding-top: 8px;
  border-left: 0px solid #fff;
  border-right: 2px solid #fff;
  top: 66px;
  left: 150px;
  .gallery__item:nth-child(4) & {
    height: 75px;
  }
}
.gallery__item-hover3 {
  background-color: #191c26;
  width: 100%;
  height: 360px;
  margin: auto;
  text-align: center;
  transition: all 0.4s;
  position: relative;
  top: -100px;
  opacity: 0;
  .gallery__item:nth-child(4) & {
    top: -125px;
  }
}
@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(255,255,255,0.92),
    0 0 30px rgba(255,255,255,0.34),
    0 0 12px rgba(242,243,243,0.52),
    0 0 21px rgba(0, 0, 0, 0.92),
    0 0 34px rgba(242,243,244,0.78),
    0 0 54px rgba(242,243,244,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(255,255,255,0.98),
    0 0 30px rgba(255,255,255,0.42),
    0 0 12px rgba(242,243,244,0.58),
    0 0 22px rgba(242,243,244,0.84),
    0 0 38px rgba(242,243,244,0.88),
    0 0 60px rgba(242,243,244,1);
  }
}

