.sidebar-hero {
	// width: 1200px;
	margin-left: auto;
	margin-right: auto;
	@media screen and (min-width: 768px) {
		@include flexbox($jc: flex-start, $ai: stretch, $flw: nowrap) ;
		background-color: $color-title-link;
	}
}
.sidebar {
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
		height: 680px;
		width: 159px;
		@include flexbox(center, flex-end, wrap);
		background-color: $color-bcg-white;
		   
	}
	@media screen and (min-width: 1280px) {
		padding-left: 24px;
	}
}
.sidebar__list {
	@media screen and (min-width: 768px) {
		transform: rotate(-90deg) translateX(110px);
		@include flexbox;
		flex-wrap: nowrap;
		align-items: center;
	}
}